@media screen and (max-width:992px) {

      .rating-box {
    grid-template-columns: repeat(3, 1fr);
  }

  .choice-grid,
  .episods-grid {
    grid-template-columns: repeat(2, 1fr);
  }
    .choice-grid .col-span {
    grid-column: auto;
  }
  .choice-grid .row-span {
    grid-row: auto;
  }
  
}