@media screen and (max-width:576px) {
    .toggle-btn{
display: block;
    }
    .menu-bar{
        display: none;
    }
    .navbar> button{
        display: none;
    }

    .music-img {
        width: 200px;
        height: 200px;
        background-size: cover;
    }
    .new-btn{
         right: -10%;
    }
    .absolute{
        width: 50%;
    }
    .hero-title{
        font-size: 40px;
    }
    .hero-item{
        max-width: 400px;
    }

    
.container {
  width: 90%;
  max-width: 400px;
}



/* grid box */
.rating-box{
    grid-template-columns: repeat(2,1fr);
}

.choice-grid ,.episods-grid{
    grid-template-columns: repeat(1,1fr);
}
.choice-grid .col-span{
  grid-column:auto;
}
.choice-grid .row-span{
  grid-row: auto;
}

.host-section,.brand-sec{
    flex-direction: column;
  text-align: center;
  
}

/* .brand-sec{
    flex-wrap: wrap;

} */

}