/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
  color: white;
}

:root {
  --primary-color: #1a0b2e;
  --secondary-color: #00ff88;
  --xl-border-radius: 100px;
}

/* ==============
Common Style
================ */

.container {
  width: 75%;
  max-width: 1200px;
  margin: 120px auto;
}

.primary-btn {
  padding: 12px 16px;
  background: linear-gradient(
    20deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: var(--xl-border-radius);
  color: white;
  cursor: pointer;
}
.sec-btn {
  padding: 12px 16px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  border-radius: var(--xl-border-radius);
  color: var(--secondary-color);
  cursor: pointer;
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
}

.sec-btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.info-text {
  margin: 16px 0;
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.507);
}

/* =============
Header Section
============== */

/*==== Navbar =====*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto !important;
}
.span-color {
  background: linear-gradient(
    70deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.menu-bar {
  list-style: none;
  display: flex;
  gap: 32px;
}
.toggle-btn {
  display: none;
  font-size: larger;
}

/*====== hero Section ======  */

.hero-section {
  background-position: center;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  border-top: 2px solid rgba(63, 61, 61, 0.233);
}
.hero-item {
  margin: 0 auto;
  padding: 101px 0;
  text-align: center;
}

.music-img {
  width: 350px;
  height: 350px;
  background: url(../assets/hero-circle.png);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  z-index: 10;
}

.new-btn {
  position: absolute;
  top: 12px;
  right: 5%;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.12rem;
  font-weight: 600;
  border: none;
  border-radius: var(--xl-border-radius);
  box-shadow: 1px 1px 20px 10px #00ff8841;
}

.hero-title {
  font-size: 3.75rem;
  font-size: 900;
}

.hero-btn-box {
  margin-top: 24px;
}

/*========== About Section =========*/
.about-text {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}

.section-title {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.rating-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.rating-item {
  text-align: center;
  text-transform: uppercase;
}

.rating-item h2 {
  font-size: 3rem;
  color: var(--secondary-color);
}

/*=========== Choice Section =========*/

.choice-section {
  background-color: #230e3d;
  padding: 120px 0;
}
.choice-container {
  margin: 0 auto;
}
.choice-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.choice-item {
  padding: 40px;
  background-color: #3511659d;
  border-radius: 40px;
  align-content: center;
}
.choice-item img {
  margin: 16px 0;
}

.col-span {
  grid-column: span 2;
}
.row-span {
  grid-row: span 2;
}

/* Episods-grid */
.episods-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.episods {
  border-radius: 30px;
  background-color: #3511659d;

  overflow: hidden;
}
.episods iframe {
  width: 100%;
}
.episods-info {
  padding: 24px;
}
.duration {
  color: #00ff88;
  font-weight: 600;
  margin-top: 14px;
}

/* ========== Host Section ========== */
.host-section {
  margin-top: 40px;
  padding: 40px;
  border-radius: 40px;
  background-color: #3511659d;
  display: flex;
  gap: 24px;
  align-items: center;
}
.icon-cont {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #533c72;
  border-radius: 50%;
  cursor: pointer;
}

/* Footer Section */
footer {
  padding: 120px;
  background: url(../assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: 4rem;
  font-size: 900;
}
.footer-container {
  text-align: center;
}

.brand-sec {
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.brand-sec p:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
